.calendar-container {
  min-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.calendar-header {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days of the week */
  gap: 8px; /* Reduced gap between cells for a tighter grid */
  text-align: center;
}

.day-cell {
  border: 1px solid #ddd;
  position: relative;
  background-color: #f9f9f9;
  height: 120px; /* height to 120px for a square cell */
}

.day-cell span {
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

.event {
  background-size: cover;
  background-position: center;
  position: absolute; /* Position absolute to overlay on the day cell */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event div {
  padding: 4px;
  font-size: 0.8rem;
}

.dateNumber {
  position: absolute;
  top: 5px;
  right: 5px;
}
